h1 {
  font-size: 36px !important;
  font-weight: bold !important;
}

.signup-content {
  max-width: 945px;
  margin-top: 276px;
  margin-left: 167px;
}

header.svelte-1nr0gfj.svelte-1nr0gfj{height:84px}.brand.svelte-1nr0gfj.svelte-1nr0gfj{font-size:24px}.right-nav.svelte-1nr0gfj>a.svelte-1nr0gfj:not(:last-child){margin-right:40px}
h1.svelte-8od9u6,p.svelte-8od9u6{margin:0 auto}h1.svelte-8od9u6{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-8od9u6{margin:1em auto}@media(min-width: 480px){h1.svelte-8od9u6{font-size:4em}}
